<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Current Weather</title>
    <link rel="stylesheet" type="text/css" href="popup.css" />
  </head>
  <body>
    <div id="target">Loading...</div>

    <script id="template" type="x-tmpl-mustache">
      <header>{{ location }} at {{ actualizedAt }}</header>
      <div class="weather-container">
        <img src="{{ icon }}" />
        <span>{{ temperature }}&deg;C, {{ description }}</span>
      </div>
    </script>

    <script src="popup.js"></script>
  </body>
</html>
